* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

main {
    background: url(images/background-mobile.svg) no-repeat center/cover;
    width: 100%;
    min-height: 812px;
    height: 100%;

    --gray: #E1E1E6;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-images {
    width: 10rem;
    height: 11.5rem;
    position: relative;
    margin: 11.5rem auto 0;
}

#userPhoto {
    width: 11.58rem;
    height: 11.57rem;
    border-radius: 50%;
}

.build {
    width: 5rem; 
    height: 5rem;
    position: absolute;
    z-index: 1;
    left: -17px;
}

#name {
    font-weight: 700;
    color: var(--gray);
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

.github {
    display: flex;
    gap: 0.75rem;
    margin-top: 10px;
}

#userGithub {
    color: var(--gray);
    font-size: 1rem;
}

#description {
    color: var(--gray);
    font-size: 0.86rem;
    margin-top: 32px;
    width: 16.38rem;
    height: 3rem;
    text-align: center;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 64px;
    margin-bottom: 168px;
}

/* 1rem = 16px
Margin: top left/right bottom */

@media (min-width: 760px) {
    main {
        background: url(images/background-web.jpg);

        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    
    .container {
        background: url(images/background-mobile.svg) no-repeat center/cover;

        width: 22.38rem;
        height: 40rem;
    }

    #description {
        font-size: 1.2rem;
    }
}